header {
    width: 200000px;/*aumenta lado*/
    height: 150px;
    background: black;
   
    margin: 30px;
    margin-top: -8px;
    margin-left: -9px;

    padding-top:15px;

    border top: 12px;
    border-left: 7px;
}

img{
width: 140px;
height:120px;
}

    /*links do cabeçalho*/

a{
    font-family: ebrima;
}
a:hover { /* letra dos links quando o mouse passa em cima*/
    background-color: none;
    color: darkslategrey;
}

a:link { /* cor dos link*/
    color: white;
}

a:visited { /*links ja abertos*/
    color: #b53542;
}

nav {
    position: absolute;
    top: 18px;
    right: 9px;
}

nav li {
    display: inline;
    margin: 5px;
}

.lista-nav{
    color: black;
    text-decoration: none;

    border-radius: 10px 20px;
    border bottom: 90px;

    display: inline-grid;
    margin-top: 10px;

    padding-bottom: auto;
    padding:15px 80px;
}

li{
      background-color:none;
      color: white;
      border-radius: 10px 20px;
      margin-top: 10px
      text-decoration: none;
      padding:15px 80px;
      display: inline-grid;
      padding-top: ;
      padding-bottom: auto;
      border bottom: 90px;
}



.fundo-lista1{
    margin-left: 1rem;

    padding-left: 44rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #ffffff;

    width:1190px;
    padding:12px;
}

.fundo-lista2{
    margin-left: 1rem;

    padding-left: 44rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #ffffff;

    width: 950px;
    padding:12px;
}

.classificacao{
    margin-left:0,5rem;
}

.classificacao-funcional{
     margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}



.negrito{
    font-family: "ebrima";
    color: #000000;
    font-size: 18px;
}

.fundo-lista {
    margin-left: 1rem;

    padding-left: 44rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #FFEFD3;

    width: 980px;
    padding:1px;

    font-family:ebrima;

    border: 10px solid #b8830b;

    color: #000;
}

.fundo-lista3{
    margin-left: 1rem;

    padding-left: 44rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: #FFEFD3;

    width: 980px;
    padding:1px;

    font-family:ebrima;
    font-size: 20px;

    border: 10px solid #b8830b;

    color: #000;
}

.importante{
    margin-left: 0,5rem;
    margin-top: 1rem;

    font-size: 38px;

    padding-top: 2rem;
}

/*Textos*/

h1{
    background-color:#b53542;
    color: white;
    border-radius: 10px 20px;
    padding:15px 80px;
    display: inline;
}

h2 {
    font-family: "ebrima";
    color: #b8830b;
    font-size: 33px;

    margin-bottom: 1rem;
}

h2-t{
    font-family: "ebrima";
    color: #b53542;
    font-size: 33px;

    margin-bottom: 1rem;
}

h3{
    font-family: "ebrima";
    color: #004777;
    font-size: 27px;

    margin-bottom: 1rem;
}

.h3.c{
    margin-left: 2rem;
}

p{
    font-family: "ebrima";
    color: #000000;
    font-size: 18px;
    margin-right:3rem;
}

span{
    color: #33673b;
    font-size: 23px
}

span-2{
    color: #b8830b;
    font-size: 20px
}

span-3{
    color: #000000;
    font-size: 20px

}

span-4{
    color: #b53542;
    font-size: 24px
}

span-5{
    color: #004777;
}

/*rodapé*/

footer{
    width: 1348px;/*aumenta lado*/
    height: 150px;
    background: black;

    margin-top:87px;
    margin-bottom: -90rem;
    margin-left: -56px;

    border top: 9px;
    border-left: 3px;
}

.a-rodape{
    font-family: ebrima;
    margin-left: 42rem;

    padding-top: 3rem;

    font-size: 18px;
}
